<div class="fluid-container">

	<div class="view-header">
		<div class="header-icon">
			<i class="pe page-header-icon pe-7s-plug"></i>
		</div>
		<div class="header-title">
			<h3 class="m-b-xs">App</h3>
			<small>
				This is your app
			</small>
		</div>
	</div>
	<hr>

	<div class="col-md-12">
		<div class="panel panel-filled" [class.ld-loading]="loading">
			<div class="panel-heading">App</div>
			<div class="panel-body">
				<div class="loader">
					<div class="loader-bar"></div>
				</div>
			</div>
		</div>
	</div>
</div>
