<div class="panel panel-filled panel-c-accent selectable" *ngFor="let source of sources">
	<div class="panel-heading">
		<div class="panel-tools">
			<a class="" href="https://www.youtube.com/?v={{source.id}}" target="_blank">
				<i class="fa fa-youtube"></i>
			</a>
		</div>
		<a href="https://www.youtube.com/watch?v={{source.id}}" target="_blank">https://www.youtube.com/watch?v={{source.id}}</a>
	</div>
	<div class="panel-body" >
		<div class="waveform"></div>
        <!-- sorry sander but this might fix it -->
		<span *ngFor="let fragment of source.fragments">{{fragment.word ? fragment.word.text : ""}}&nbsp;</span>

	</div>
</div>