<aside class="navigation">
	<nav>
		<ul class="nav luna-nav">
			<!-- <li class="nav-category">
				Main
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/dashboard']">Dashboard</a>
			</li> -->
			<li class="nav-category">
				Audio
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="close()">
				<a [routerLink]="['/fragmentifier']">Fragmentifier</a>
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="close()">
				<a [routerLink]="['/overview']">Overview</a>
			</li>

			<li class="nav-category" [hidden]="!authenticationService.isLoggedIn()">
				Account
			</li>
			<li [hidden]="!authenticationService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="close()">
				<a *ngIf="authenticationService.user" [routerLink]="['/user/' + authenticationService.user._id]">Profile</a>
			</li>
			<li [hidden]="!authenticationService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="close()">
				<a *ngIf="authenticationService.user" [routerLink]="['/user/'+ authenticationService.user._id + '/app']">Apps</a>
			</li>

			<li class="nav-info">
				<a class="platform-logo discord" href="https://discordapp.com/oauth2/authorize?client_id=312659661776093185&permissions=0&scope=bot"
				 target="_blank">
					<img src="https://discordapp.com/assets/192cb9459cbc0f9e73e2591b700f1857.svg">
				</a>
				<div class="m-t-xs">
					Click on the discord logo to add Bumblebee to your Discord server!
				</div>

			</li>
		</ul>
	</nav>
</aside>
