<div class="fluid-container">
	<div class="col-lg-12">
		<div class="view-header">
			<div class="header-icon">
				<i class="pe page-header-icon pe-7s-display1"></i>
			</div>
			<div class="header-title">
				<h3 class="m-b-xs">Dashboard</h3>
				<small>
					Your personal dashboard
				</small>
			</div>
		</div>
		<hr>
	</div>
</div>

<div class="fluid-container">
	<div class="col-lg-2 col-xs-6">
		<div class="panel panel-filled">
			<div class="panel-body">
				<h2 class="m-b-none">
					200%
					<span class="slight">
						<i class="fa fa-play fa-rotate-270 text-warning"> </i>
						+10%
					</span>
				</h2>
				<div class="small">CPU usage</div>
				<div class="slight m-t-sm">
					<i class="fa fa-clock-o"> </i> Updated:
					<span class="c-white">13:37pm</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-xs-6">
		<div class="panel panel-filled">
			<div class="panel-body">
				<h2 class="m-b-none">
					3200gb
					<span class="slight">
						<i class="fa fa-play fa-rotate-270 text-warning"> </i>
						+137%
					</span>
				</h2>
				<div class="small">RAM usage</div>
				<div class="slight m-t-sm">
					<i class="fa fa-clock-o"> </i> Updated:
					<span class="c-white">13:37am?</span>
				</div>
			</div>
		</div>
	</div>
</div>